.habit-card {
  background: white;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.habit-actions{
  display:flex;
  gap:10px;
}

.habit-actions button{
  padding:10px 15px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}