.task-card{
    background:#fff;
    padding:20px;
    border-radius:16px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.task-card:hover{
    transform:translateY(-2px);
}

.left{
    display:flex;
    align-items:center;
    gap:18px;
}

.check-btn{
    font-size:24px;
    cursor:pointer;
}

.done{
    color:#22C55E;
}

.completed{
    text-decoration:line-through;
    color:#9CA3AF;
}

.task-info{
    display:flex;
    flex-direction:column;
    gap:8px;
}

.priority{
    width:fit-content;
    padding:4px 10px;
    border-radius:8px;
    font-size:13px;
    text-transform:capitalize;
}

.high{
    background:#FEE2E2;
    color:#DC2626;
}

.medium{
    background:#FEF3C7;
    color:#D97706;
}

.low{
    background:#DCFCE7;
    color:#16A34A;
}

.actions{
    display:flex;
    align-items:center;
    gap:15px;
}

.delete{
    color:#EF4444;
    cursor:pointer;
    font-size:18px;
}

.delete:hover{
    transform:scale(1.1);
}